.table
  .table-row
    .table-cell.sidebar
      %h2
        %br
        Adopt a Drain
      %h5
        Part of the 
        %a{:href => 'http://www.oaklandadoptaspot.org'}Oakland Adopt a Spot
        Program
      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://openoakland.org/"}
          = image_tag "logos/openoakland.png", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
    .table-cell#map
      &nbsp;
